@import url("vendor/reset.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap");
@import url("../icons/css/font-awesome.min.css");
@import url("aos.css");
/* animate on scroll */
/* column grid */
.col-dk-1, .col-dk-12, .col-dk-11, .col-dk-10, .col-dk-9, .col-dk-8, .col-dk-7, .col-dk-6, .col-dk-5, .col-dk-4, .col-dk-3, .col-dk-2 {
  width: 8.33%;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.col-dk-2 {
  width: 16.66%;
}

.col-dk-3 {
  width: 25%;
}

.col-dk-4 {
  width: 33.33%;
}

.col-dk-5 {
  width: 41.66%;
}

.col-dk-6 {
  width: 50%;
}

.col-dk-7 {
  width: 58.33%;
}

.col-dk-8 {
  width: 66.66%;
}

.col-dk-9 {
  width: 75%;
}

.col-dk-10 {
  width: 83.33%;
}

.col-dk-11 {
  width: 91.66%;
}

.col-dk-12 {
  display: block;
  width: 100%;
}

/* heights */
.tall-40 {
  height: 40px;
}

.tall-400 {
  height: 400px;
}

.tall-600 {
  height: 600px;
}

.tall-700 {
  height: 700px;
}

.tall-750 {
  height: 750px;
}

.dk-hidden {
  display: none;
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .col-md-1, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2 {
    width: 8.33%;
    float: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .col-md-2 {
    width: 16.66%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33%;
  }

  .col-md-11 {
    width: 91.66%;
  }

  .col-md-12 {
    display: block;
    width: 100%;
  }

  .md-hidden {
    display: none;
  }

  .md-tall-500 {
    height: 500px;
  }
}
/* mobile */
@media screen and (min-width: 180px) and (max-width: 767px) {
  .col-sm-1, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2 {
    width: 8.33%;
    float: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .col-sm-2 {
    width: 16.66%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.33%;
  }

  .col-sm-5 {
    width: 41.66%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.33%;
  }

  .col-sm-8 {
    width: 66.66%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33%;
  }

  .col-sm-11 {
    width: 91.66%;
  }

  .col-sm-12 {
    display: block;
    width: 100%;
  }

  .sm-hidden {
    display: none;
  }

  .dk-hidden {
    display: block;
  }

  .sm-tall-500 {
    height: 500px;
  }

  .sm-tall-260 {
    height: 260px;
  }

  .sm-tall-280 {
    height: 280px;
  }
}
/* basic text styles */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  background-color: #f7f7f7;
  margin-bottom: 60px;
}

a {
  color: #000000;
}

p {
  line-height: 1.8;
}

h1 {
  font-size: 4em;
  font-weight: 700;
  line-height: 1;
}

h2 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
}

h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
}

i {
  font-style: oblique;
}

strong {
  font-weight: 700;
}

.text-color {
  color: #8CAFB8;
}

/* preloader */
#overlay {
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: #202020;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spinner {
  -webkit-animation: spinner 1s infinite linear;
  animation: spinner 1s infinite linear;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top-color: #8CAFB8;
  height: 9em;
  margin: 0 auto 3.5em auto;
  width: 9em;
}

.overlay-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.overlay-content h2 {
  color: #8CAFB8;
  letter-spacing: 3px;
  font-size: 14px;
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
/* logo */
.logo {
  font-family: "Poppins", sans-serif;
  position: fixed;
  top: 0;
  left: 90px;
  height: 80px;
  width: 80px;
  background-color: #202020;
  z-index: 20;
  -webkit-transition: -webkit-transform 0.45s all ease;
  transition: -webkit-transform 0.45s all ease;
  -o-transition: transform 0.45s all ease;
  transition: transform 0.45s all ease;
  transition: transform 0.45s all ease, -webkit-transform 0.45s all ease;
}
.logo:hover {
  background-color: #8CAFB8;
  -webkit-transition: -webkit-transform 0.45s all ease;
  transition: -webkit-transform 0.45s all ease;
  -o-transition: transform 0.45s all ease;
  transition: transform 0.45s all ease;
  transition: transform 0.45s all ease, -webkit-transform 0.45s all ease;
}

.logo-text {
  font-size: 45px;
  font-weight: 100;
  color: #ffffff;
  text-align: center;
  line-height: 1.8;
  margin-left: 0;
}

/* menu */
.title {
  text-transform: uppercase;
  font-weight: 700;
  z-index: 20;
  position: fixed;
  top: 19px;
  left: 185px;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  height: 56px;
  z-index: 20;
}

.main-menu {
  font-size: 16px;
  text-transform: uppercase;
  z-index: 18;
}
.main-menu h2 {
  float: left;
  font-weight: 700;
  margin-top: 11px;
  margin-left: 185px;
  z-index: 20;
}
.main-menu ul {
  margin-right: 80px;
}
.main-menu li {
  display: inline;
  float: right;
  padding: 0 10px;
  margin-top: 23px;
  line-height: 0.6;
}
.main-menu a {
  font-weight: 400;
  text-align: right;
  letter-spacing: 1px;
  font-size: 14px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.main-menu a:after {
  content: "";
  border-bottom: 1px solid #8CAFB8;
  display: inline-block;
  width: 0%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.main-menu a:hover {
  color: #8CAFB8;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.main-menu a:hover:after {
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.drop-menu {
  z-index: 18;
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cfd9db;
  width: 0px;
  -webkit-transition: 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  height: 100vh;
  will-change: width;
}
.drop-menu .list {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0s linear 0.25s;
  -o-transition: 0s linear 0.25s;
  transition: 0s linear 0.25s;
}
.drop-menu li {
  display: block;
  text-align: center;
  padding: 9px 10px;
  overflow: hidden;
}
.drop-menu a {
  display: block;
  font-weight: 300;
  padding: 8px;
  font-size: 0;
  opacity: 0;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: 0.5s cubic-bezier(0.6, 0.045, 0.3, 1);
  -o-transition: 0.5s cubic-bezier(0.6, 0.045, 0.3, 1);
  transition: 0.5s cubic-bezier(0.6, 0.045, 0.3, 1);
  will-change: transform, opacity;
}
.drop-menu.is_active {
  width: 100%;
}
.drop-menu.is_active .list {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0s linear;
  -o-transition: 0s linear;
  transition: 0s linear;
}
.drop-menu.is_active a {
  opacity: 1;
  font-size: 25px;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-property: opacity, color, -webkit-transform;
  transition-property: opacity, color, -webkit-transform;
  -o-transition-property: transform, opacity, color;
  transition-property: transform, opacity, color;
  transition-property: transform, opacity, color, -webkit-transform;
  -webkit-transition-duration: 0.55s, 0.55s, 0.3s;
       -o-transition-duration: 0.55s, 0.55s, 0.3s;
          transition-duration: 0.55s, 0.55s, 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.6, 0.045, 0.3, 1), ease-in-out, ease-in-out;
       -o-transition-timing-function: cubic-bezier(0.6, 0.045, 0.3, 1), ease-in-out, ease-in-out;
          transition-timing-function: cubic-bezier(0.6, 0.045, 0.3, 1), ease-in-out, ease-in-out;
}
.drop-menu.is_active li:nth-of-type(1) a {
  -webkit-transition-delay: 0.5s, 0.5s, 0s;
       -o-transition-delay: 0.5s, 0.5s, 0s;
          transition-delay: 0.5s, 0.5s, 0s;
}
.drop-menu.is_active li:nth-of-type(2) a {
  -webkit-transition-delay: 0.7s, 0.7s, 0s;
       -o-transition-delay: 0.7s, 0.7s, 0s;
          transition-delay: 0.7s, 0.7s, 0s;
}

.menu-icon {
  position: fixed;
  top: 7px;
  right: 12px;
  padding: 8px;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.menu-icon .fa-bars {
  position: relative;
}
.menu-icon .fa-bars, .menu-icon .fa-bars:before, .menu-icon .fa-bars:after {
  width: 28px;
  height: 4px;
  background-color: #202020;
  border-radius: 4px;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.menu-icon .fa-bars:before, .menu-icon .fa-bars:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
}
.menu-icon .fa-bars:before {
  -webkit-transform: translateY(-8px);
      -ms-transform: translateY(-8px);
          transform: translateY(-8px);
}
.menu-icon .fa-bars:after {
  -webkit-transform: translateY(8px);
      -ms-transform: translateY(8px);
          transform: translateY(8px);
}
.menu-icon.is_active {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.menu-icon.is_active .fa-bars:before, .menu-icon.is_active .fa-bars:after {
  -webkit-transform: translateX(0) rotate(-90deg);
      -ms-transform: translateX(0) rotate(-90deg);
          transform: translateX(0) rotate(-90deg);
}

/* footer styles */
footer .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}
footer i {
  font-size: 20px !important;
  text-align: center;
  padding: 0 10px;
  color: #FFFFFF;
}
footer i:hover {
  color: #8CAFB8;
}
footer p {
  font-size: 0.7em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #FFFFFF;
}
footer div {
  background-color: #202020;
}

.footer {
  bottom: 0;
  width: 100%;
}

section.main-section {
  padding-bottom: 100px;
}

/* button styles */
button, .form-button {
  background-color: #202020;
  width: 240px;
  height: 45px;
  text-align: center;
  display: block;
  margin-left: 0;
  margin-top: 50px;
  border: none;
  -webkit-transition: 0.45s all ease;
  -o-transition: 0.45s all ease;
  transition: 0.45s all ease;
  border-radius: 0;
}
button:hover, .form-button:hover {
  background-color: #8CAFB8;
  -webkit-transition: 0.45s all ease;
  -o-transition: 0.45s all ease;
  transition: 0.45s all ease;
}
button a, .form-button a {
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 3px;
}

.button {
  background-color: #202020;
  min-width: 150px;
  height: 40px;
  font-size: 12px;
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: 1px;
  line-height: 20px;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}
.button:before {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: #8CAFB8;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -o-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}
.button:hover:before {
  opacity: 1;
  width: 116%;
}

.secondary-button {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  border: 1px solid #202020;
  background: transparent;
  letter-spacing: 1px;
  display: inline-block;
  height: 40px;
  line-height: 19px;
  padding: 10px 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}
.secondary-button:hover {
  border: 1px solid #8CAFB8;
  color: #FFFFFF;
}
.secondary-button:before {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: #8CAFB8;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -o-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}
.secondary-button:hover:before {
  opacity: 1;
  width: 116%;
}

/* images */
.about-image {
  background-image: url("../img/profile_2.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* form styles */
input, textarea {
  font-size: 0.8em;
  font-family: "Lato", sans-serif;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
  padding-left: 0;
  color: #202020;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
  outline: none;
}
input:hover, textarea:hover, input:focus, textarea:focus {
  border-bottom: 1px solid #202020;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

textarea {
  height: 120px;
  resize: none;
  padding-top: 20px;
}

.form-button {
  margin: 0;
  margin-top: 20px;
  width: 200px;
  color: #ffffff;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 5px;
}
.form-button:hover, .form-button:focus {
  border-bottom: none;
}

/* home page */
.home-banner {
  background-image: url("../img/banner/imac-1.jpg");
  -webkit-animation: changeBg 4s;
          animation: changeBg 4s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 120px 0 120px 0;
  height: 85vh;
  background-color: #cfd9db;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home-banner .banner-title {
  width: 70%;
  z-index: 10;
  padding-top: 56px;
  text-align: center;
}
.home-banner .banner-title h1 {
  font-size: 4.5em;
  margin-left: 0px;
  margin-bottom: 30px;
}
.home-banner .banner-title span {
  background-color: #cfd9db;
  padding: 0 10px;
  line-height: 1.2;
}
.home-banner .banner-title span:nth-of-type(1) {
  font-weight: 300;
  z-index: 10;
}
.home-banner .banner-title span:nth-of-type(2) {
  font-weight: 700;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .home-banner .banner-title {
    width: 56%;
  }
}

@-webkit-keyframes changeBg {
  0%, 100% {
    background-image: url("../img/banner/imac-1.jpg");
  }
  20% {
    background-image: url("../img/banner/imac-2.jpg");
  }
  40% {
    background-image: url("../img/banner/imac-3.jpg");
  }
  60% {
    background-image: url("../img/banner/imac-4.jpg");
  }
  80% {
    background-image: url("../img/banner/imac-5.jpg");
  }
}

@keyframes changeBg {
  0%, 100% {
    background-image: url("../img/banner/imac-1.jpg");
  }
  20% {
    background-image: url("../img/banner/imac-2.jpg");
  }
  40% {
    background-image: url("../img/banner/imac-3.jpg");
  }
  60% {
    background-image: url("../img/banner/imac-4.jpg");
  }
  80% {
    background-image: url("../img/banner/imac-5.jpg");
  }
}
.content-section h1, .content-section h3 {
  margin-left: 0;
}
.content-section p {
  margin-top: 30px;
  margin-left: 0;
}

.about-section {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 90px 80px;
}
.about-section .content-section {
  max-width: 800px;
}
.about-section .content-section p {
  margin-top: 0;
}

.skills-section {
  margin-top: 60px;
  margin-bottom: 120px;
}
.skills-section h3 {
  margin-bottom: 40px;
}

.content-section-2 {
  margin-top: 110px;
}

.icons-section {
  width: 100%;
  height: auto;
  padding-left: 90px;
  padding-right: 90px;
  margin-top: 60px;
  margin-bottom: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.one-third {
  width: 33.33%;
  float: left;
}
.one-third:nth-of-type(2) {
  padding: 0 30px;
}
.one-third h2 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
}

.skill-icon-container {
  background-color: #EBEBEC;
  padding: 80px;
  max-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.skill-icon-container .skill-icon {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.skill-icon-container:hover path.cls-1, .skill-icon-container:hover rect.cls-1, .skill-icon-container:hover line.cls-1, .skill-icon-container:hover polygon.cls-1 {
  stroke: #8CAFB8;
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  -webkit-animation: draw-in 4.5s forwards;
          animation: draw-in 4.5s forwards;
}
.skill-icon-container:hover line.cls-1 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  visibility: hidden;
}

@-webkit-keyframes draw-in {
  from {
    stroke-dashoffset: 1000;
    visibility: visible;
  }
  to {
    stroke-dashoffset: 0;
    visibility: visible;
  }
}

@keyframes draw-in {
  from {
    stroke-dashoffset: 1000;
    visibility: visible;
  }
  to {
    stroke-dashoffset: 0;
    visibility: visible;
  }
}
.contact-section {
  background-image: url("../img/contact-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact-section .text-container {
  background-color: #FFFFFF;
  padding: 40px 60px 50px;
  text-align: center;
}
.contact-section h1 {
  text-align: center;
}
.contact-section .button {
  margin: 0 auto;
  margin-top: 50px;
}

/* portfolio page */
.section {
  display: none;
  padding: 2rem;
}
.section ul {
  margin: 0 auto;
  width: 500px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
}
.section li {
  display: inline;
  padding: 0 12px;
  margin-top: 10px;
}
.section a {
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
.section a:hover {
  color: #8CAFB8;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
.section a.selected {
  color: #8CAFB8;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 4rem;
  }
}
@supports (display: grid) {
  .section {
    display: block;
  }
}

.category-heading {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 1.8em;
  font-weight: 700;
}

.grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: unset;
  grid-auto-flow: row dense;
  max-width: 1259px;
  margin: 0 auto;
  margin-top: 20px;
  padding-left: 26px;
  padding-right: 26px;
}

.item, .item3, .item2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-grid-column: auto;
      grid-column-start: auto;
  -ms-grid-row: auto;
      grid-row-start: auto;
  background: url("../img/sir-1.png");
  background-size: cover;
  background-position: top;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  cursor: pointer;
  counter-increment: item-counter;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  height: 450px;
}
.item:nth-of-type(1), .item3:nth-of-type(1), .item2:nth-of-type(1) {
  background-position: top;
}
.item:nth-of-type(2), .item3:nth-of-type(2), .item2:nth-of-type(2) {
  background-image: url("../img/infographic.png");
  background-position: top;
}
.item:nth-of-type(3), .item3:nth-of-type(3), .item2:nth-of-type(3) {
  background-image: url("../img/flyer.png");
  background-position: center -20px;
}
.item:hover:after, .item3:hover:after, .item2:hover:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.1;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.item--medium {
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
}
.item--large {
  -ms-grid-row-span: 3;
  grid-row-end: span 3;
}
.item .item-details, .item3 .item-details, .item2 .item-details {
  position: relative;
  z-index: 1;
  padding: 5px 0 10px;
  background: #f7f7f7;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}
.item .item-details h2, .item3 .item-details h2, .item2 .item-details h2 {
  font-size: 12px;
  color: #C0C0C0;
  margin-top: 1em;
}
.item .item-details p, .item3 .item-details p, .item2 .item-details p {
  margin-top: 0;
  margin-bottom: 8px;
}

.item2 {
  background-image: url("../img/wine-cellar-mockup-2.png");
}
.item2:nth-of-type(1) {
  background-position: top;
}
.item2:nth-of-type(2) {
  background-image: url("../img/nicholas-whitehorn-mockup.png");
  background-position: center;
}
.item2:nth-of-type(3) {
  background-image: url("../img/sledgehammer-studio-mockup.png");
  background-position: top;
}
.item2:nth-of-type(4) {
  background-image: url("../img/growpro-mockup-2.png");
  background-position: center -12px;
  background-position: center calc(50% - 38px);
  background-size: contain;
}
.item2:nth-of-type(5) {
  background-image: url("../img/woven-mockup.png");
  background-position: top;
}
.item2:nth-of-type(6) {
  background-image: url("../img/yayoi-kusama-mockup.png");
  background-position: center calc(50% - 38px);
}
.item2:nth-of-type(7) {
  background-image: url("../img/app-ui.png");
  background-position: center calc(50% - 38px);
  background-size: contain;
}
.item2:nth-of-type(8) {
  background-image: url("../img/yuschav-arly-mockup.png");
  background-position: center calc(50% - 38px);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #e9e6e4;
}
.item2:nth-of-type(9) {
  background-image: url("../img/woolworths-mockup-2.png");
  background-position: center -35px;
}

.item3 {
  background-image: url("../img/design-showreel.png");
}
.item3:nth-of-type(2n) {
  background-image: url("../img/self-promotion.png");
}
.item3:nth-of-type(3n) {
  background-image: url("../img/title-sequence.png");
}

/* contact page */
.contain {
  width: 100%;
  margin: 0 auto;
  max-width: 1500px;
}

.contact-banner {
  background-image: url("../img/contact-6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 56px;
}
.contact-banner h1 {
  margin-left: 0;
  color: #FFFFFF;
}

.contact-title {
  padding: 100px 90px 55px;
}
.contact-title h1 {
  font-size: 2.5rem;
  margin-left: 0;
  text-align: center;
}

.contact-section-2 {
  padding: 100px 90px 100px;
}
.contact-section-2 h1 {
  margin-left: 0;
  font-size: 2.5rem;
}
.contact-section-2 div:nth-of-type(1) {
  margin: 35px 0 20px;
}
.contact-section-2 div p {
  margin-top: 5px;
}

.contact-form {
  padding: 100px 90px 100px 0;
}
.contact-form form {
  width: 100%;
}

/* project pages */
.clearfix {
  clear: both;
}

.project-section {
  padding: 140px 90px 0;
  padding-bottom: 0 !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.project-section h1 {
  font-size: 2.5em;
  margin-left: 0;
  margin-bottom: 25px;
}
.project-section img {
  width: 100%;
  margin-bottom: 20px;
}
.project-section .half-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.project-section .half-images img {
  width: 50%;
}
.project-section .half-images img:nth-of-type(1) {
  padding-right: 10px;
}
.project-section .half-images img:nth-of-type(2) {
  padding-left: 10px;
}
.project-section .subtext {
  font-size: 20px;
}
.project-section p {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 900px;
}
.project-section .button:nth-of-type(2) {
  margin-left: 15px;
}
.project-section .portfolio-item {
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.project-section .project-info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 74%;
}
.project-section .extra-info {
  padding-top: 10px;
  width: 20%;
}
.project-section .extra-info div {
  padding-bottom: 20px;
}
.project-section .extra-info div:nth-last-of-type(1) {
  padding-bottom: 0;
}
.project-section .extra-info h2 {
  color: #C0C0C0;
  font-size: 12px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 5px;
}
.project-section .extra-info a {
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
.project-section .extra-info a:hover {
  color: #8CAFB8;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
.project-section .extra-project-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 60px;
}
.project-section .extra-project-info .block-one-third {
  background-color: #FFFFFF;
  padding: 35px;
  width: 32%;
}
.project-section .extra-project-info h2 {
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  text-transform: none;
}
.project-section .image-text {
  text-align: center;
  padding: 25px 0 45px;
  margin: 0 auto;
}
.project-section .image-text .subtext {
  margin: 0 auto;
}
.project-section .portfolio-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0;
}
.project-section .other-projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
}
.project-section .other-projects-container .other-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.project-section .other-projects-container .other-project .prev-icon {
  margin-right: 25px;
}
.project-section .other-projects-container .other-project .next-icon {
  margin-left: 25px;
}
.project-section .other-projects-container .other-project .next-project {
  text-align: right;
}
.project-section .other-projects-container .other-project h2 {
  color: #C0C0C0;
  font-size: 12px;
  margin-bottom: 5px;
}
.project-section .other-projects-container .other-project a {
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
.project-section .other-projects-container .other-project a:hover {
  color: #8CAFB8;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
.project-section .other-projects-container .transparent {
  opacity: 0;
}

/* videos */
.video {
  display: block;
  padding: 0 90px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.project-video {
  display: block;
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.video-content {
  margin-top: 30px;
}
.video-content p {
  margin-left: 90px;
}

.video-page-btn {
  margin-left: 90px;
  margin-top: 30px;
}

/* CV page */
.cv-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 56px;
  padding: 0 90px;
}
.cv-banner .cv-image {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 120px 0 60px;
}
.cv-banner .cv-image .shape {
  background: #E2E7E8;
  width: 80%;
  height: 92%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.cv-banner .cv-image .image-text {
  position: relative;
  display: block;
}
.cv-banner .cv-image img {
  width: 100%;
  max-width: 160px;
  z-index: 2;
}
.cv-banner .cv-image .hello {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 50px;
  -webkit-transform: rotate(-90deg) translate(-186%);
      -ms-transform: rotate(-90deg) translate(-186%);
          transform: rotate(-90deg) translate(-186%);
  z-index: 2;
  width: 0;
  position: absolute;
  right: -30px;
  bottom: -10px;
}
.cv-banner .cv-title {
  padding-left: 90px;
}
.cv-banner .cv-title h1 {
  font-size: 2.4em;
}
.cv-banner .cv-title h2 {
  text-transform: unset;
  font-size: 1.2em;
  margin-top: 15px;
}

.highlight {
  display: inline-block;
  padding-left: 8px;
}
.highlight:after {
  content: "";
  background: #E2E7E8;
  padding: 6px 8px;
  display: block;
  width: 100%;
  height: 4px;
  margin-top: -10px;
  margin-left: -8px;
}

.cv-content {
  background-color: #FFFFFF;
  padding: 90px;
}
.cv-content .cv-section:not(.first) {
  padding-top: 30px;
}
.cv-content p {
  font-weight: 300;
}
.cv-content .highlight {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.cv-content .highlight:after {
  height: 2px;
  margin-top: -11px;
}
.cv-content .cv-item {
  padding-bottom: 35px;
}
.cv-content .cv-item:nth-of-type(1) {
  padding-top: 25px;
}
.cv-content .cv-item p {
  margin: 0;
}
.cv-content .cv-item i {
  margin-right: 8px;
}
.cv-content .right-col {
  padding-left: 90px;
}

/* media queries */
/* mobile */
@media screen and (min-width: 180px) and (max-width: 767px) {
  h1 {
    font-size: 3.2em;
  }

  h3 {
    margin-left: 20px;
  }

  p {
    font-size: 15px;
  }

  .logo {
    left: 20px;
  }

  .menu {
    height: 56px;
  }

  .title {
    top: 20px;
    left: 115px;
  }

  .section {
    margin-top: 70px;
    padding: 0;
    padding-top: 35px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .section ul {
    width: auto;
    text-align: left;
    padding-top: 10px;
  }
  .section li {
    display: block;
    padding-left: 0;
  }

  .home-banner {
    padding: 0;
    padding-top: 60px;
    height: 70vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-position: left 40px;
  }
  .home-banner .banner-title {
    width: 100%;
    padding: 0 20px;
    padding-bottom: 65px;
    margin-top: 0;
    text-align: center;
  }
  .home-banner .banner-title h1 {
    font-size: 2.5rem;
  }
  .home-banner .banner-title p {
    margin-top: 12px;
  }
  .home-banner .banner-title .button {
    width: auto;
  }

  .button {
    width: 100%;
  }

  .about-section {
    padding: 60px 20px 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-section .about-section-image {
    display: none;
  }
  .about-section .content-section {
    padding-left: 0;
  }

  .skills-section {
    margin-top: 30px;
    margin-bottom: 80px;
  }
  .skills-section h1 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .icons-section {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
  }

  .skill-icon {
    width: 100%;
    padding: 10px 0;
  }

  .one-third {
    width: 100%;
  }
  .one-third h2 {
    margin-bottom: 40px;
  }
  .one-third:nth-of-type(2) {
    padding: 0;
  }
  .one-third:nth-of-type(3) h2 {
    margin-bottom: 0;
  }

  .contact-banner {
    height: 320px;
  }

  .contact-section {
    height: 550px;
    padding: 0 20px;
  }
  .contact-section h1 {
    margin-left: 20px;
    margin-right: 20px;
  }
  .contact-section .button {
    width: auto;
  }

  .contact-section-2 {
    padding: 55px 20px 20px;
  }
  .contact-section-2 h1 {
    font-size: 2rem;
  }

  .contact-form {
    padding: 0 20px 55px;
  }

  input, textarea {
    margin-bottom: 10px;
  }

  .form-button {
    margin-left: 0;
    width: 100%;
  }

  .category-heading {
    text-align: left;
    margin-left: 0;
  }

  .grid {
    padding-left: 0;
    padding-right: 0;
  }

  .project-section {
    padding: 120px 20px 0;
  }
  .project-section .portfolio-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 45px;
  }
  .project-section .project-info {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .project-section .extra-info {
    width: 100%;
    padding-top: 0;
    padding-bottom: 25px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .project-section .extra-project-info .block-one-third {
    width: 100%;
    margin-bottom: 20px;
  }
  .project-section .extra-project-info .block-one-third:nth-last-of-type(1) {
    margin-bottom: 0;
  }
  .project-section img {
    margin-bottom: 18px;
  }
  .project-section .half-images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project-section .half-images img {
    width: 100%;
  }
  .project-section .half-images img:nth-of-type(1), .project-section .half-images img:nth-of-type(2) {
    padding-left: 0;
    padding-right: 0;
  }
  .project-section .button:nth-of-type(2) {
    margin-top: 15px;
    margin-left: 0;
  }

  .portfolio-page-btn {
    margin-top: 20px;
  }

  .slideshow-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .prev {
    left: 20px;
  }

  .next {
    right: 20px;
  }

  .video {
    padding: 0 20px;
  }

  .video-page-btn {
    margin-left: 20px;
  }

  /* CV */
  .cv-banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 20px 40px;
  }
  .cv-banner .cv-image {
    padding: 60px 0;
  }
  .cv-banner .cv-title {
    padding-left: 0;
    padding-top: 10px;
  }

  .cv-content {
    padding: 40px 20px;
  }
  .cv-content .right-col {
    padding-left: 0;
  }
}
/* homepage banner extra responsive styles */
@media screen and (min-width: 451px) and (max-width: 767px) {
  .home-banner {
    background-position: top left;
  }
}
/* tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .logo {
    left: 40px;
  }

  .title {
    left: 135px;
  }

  .main-menu ul {
    margin-right: 40px;
  }
  .main-menu li {
    padding-right: 0;
    padding-left: 25px;
  }

  .home-banner {
    padding: 60px 0;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    min-height: 700px;
    max-height: 850px;
  }
  .home-banner .banner-title {
    width: 100%;
  }

  .about-section {
    padding: 140px 40px 20px;
    min-height: unset;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .about-section img {
    width: 180px;
  }

  .content-section h1 {
    margin-top: 85px;
  }
  .content-section p {
    margin-right: 40px;
  }

  .content-section-2 {
    margin-top: 90px;
  }
  .content-section-2 h3 {
    margin-left: 50px;
  }

  .skills-section {
    min-height: unset;
  }
  .skills-section h1 {
    margin-left: 40px;
  }

  .icons-section {
    padding-left: 40px;
    padding-right: 40px;
  }

  .section {
    margin-top: 55px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .project-section {
    padding: 140px 40px 0;
  }
  .project-section .project-info {
    width: 62%;
  }
  .project-section .extra-info {
    width: 30%;
  }
  .project-section .extra-project-info .block-one-third {
    width: 100%;
    margin-bottom: 20px;
  }
  .project-section .extra-project-info .block-one-third:nth-last-of-type(1) {
    margin-bottom: 0;
  }

  .md-button {
    width: 550px;
    display: block;
    margin: 0 auto;
  }

  .portfolio-page-btn {
    display: inline;
    margin-left: 40px;
    margin-top: 20px;
  }

  .contact-section-2 {
    padding: 80px 40px;
  }
  .contact-section-2 h1 {
    font-size: 2rem;
  }

  .contact-social-media {
    margin-left: 40px;
  }

  .contact-form {
    padding: 80px 40px 80px 0;
  }
  input, textarea {
    margin-bottom: 15px;
  }

  .form-button {
    margin-left: 0;
  }

  .video {
    padding: 0 40px;
  }

  .video-page-btn {
    margin-left: 40px;
  }

  /* CV */
  .cv-banner {
    padding: 0 40px;
  }
  .cv-banner .cv-title {
    padding-left: 40px;
  }

  .cv-content {
    padding: 40px;
  }
  .cv-content .right-col {
    padding-left: 40px;
  }
}